<section class="subscriptions-notice">
  <h2>My Subscriptions</h2>
  <p class="info" id="info-subscriptions-no-items">Oops! You don't have any subscriptions. Please go to <a href="https://www.youtube.com/subscription_manager?action_takeout=1" target="_blank">this page</a> and download the subscriptions feed file. Then, click the button below and select the file, then click Upload. </a></p>
  <p class="error" id="error-subscriptions-wrong-file" style="display:none">Oops! The file you uploaded is in an incorrect format. Please retry...</p>
  <div class="upload-form" id="subscriptions-upload-form">
    <input type="file" id="uploadTakeoutYT" placeholder="subscription_manager.xml" />
    <button type="submit" id="subscriptions-upload-button">Upload</button>
  </div>
  <p class="status" id="subscriptions-upload-status" style="display:none"></p>
</section>